*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: inherit;
    font-optical-sizing: auto;
}

html {
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

a,
button {
    cursor: pointer;
}

p {
    overflow-wrap: break-word;
    hyphens: auto;
}

html,
body {
    height: 100%;
}

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}