.breadcrumb {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
}

.breadcrumb ul {
    list-style: none;
    display: flex;
    gap: 5px;
}

.breadcrumb li {
    display: inline;
}

.breadcrumb a {
    text-decoration: none;
    color: #007bff;
}

.breadcrumb a:hover {
    text-decoration: underline;
}
.breadcrumb .current {
    font-weight: bold;
}
.back {
    cursor: pointer;
}

.back:hover {
    fill: var(--tertiary-color);
    transition: 300ms ease-in-out;
}
