:root {
    --font-family: "Work Sans Variable", sans-serif;
    --font-size: 16px;
    --font-regular: 400;
    --bold: 700;
    --spacing: 1.5rem;
    --custom-underline-width: 23%;

    --primary-color: rgb(34, 30, 134);
    --secondary-color: #7f58e1;
    --tertiary-color: #8179f5;
    --red-color: rgb(209, 33, 33);

    --background-color: #f7f7f7;
    --text-color: #333333;
    --box-color: #e8e8e86b;

    --border-radius: 25px;

    --shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    --blur: blur(10px);
}

html {
    font: var(--font-regular) var(--font-size) / 1.5 var(--font-family);
    color: var(--text-color);
    background-color: var(--background-color);
    position: relative;
}

body, h1, h2, h3, h4, h5, h6, p, a, span, div {
    font-family: var(--font-family);
}

strong {
    font-weight: var(--bold);
}

h1 {
    display: flex;
    font-size: clamp(1.9rem, 5vw, 2.5rem);
    font-weight: 800;
    align-items: flex-start;
    margin-bottom: -0.5ch;
    position: relative;
}

::selection {
    background-color: var(--tertiary-color);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.section-heading {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    animation: fadeIn 1s ease-in-out;
}

.icon-left {
    margin-right: 0.5rem;
    animation: fadeIn 1s ease-in-out;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

.search-container {
    display: flex;
    justify-content: left;
    align-items: center;
    height: auto;
}

.register-link {
    text-align: center;
    align-items: center;
}
.title-container {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.subtitle-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.subtitle-container h2 {
    font-size: 3rem;
    color: var(--primary-color);
    margin-bottom: 0rem;
    font-family: var(--font-family);
}

.thick-underline {
    width: var(--custom-underline-width);
    height: 0.90rem;
    background-color: var(--primary-color);
    border-radius: 100px;
    margin-top: 0.5rem;
}

h1 {
    font-size: 3rem;
    color: var(--primary-color);
    margin-top: 0rem;
    font-family: var(--font-family);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 2rem;
}

main {
    flex: 1;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.65rem;
    padding: 1rem;
    width: 100%;
    background-color: transparent;
    margin-top: auto;
}
.register-link button {
    margin-left: 10px;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    background: var(--primary-color);
    background: linear-gradient(
            90deg,
            var(--primary-color) 0%,
            var(--tertiary-color) 100%
    );
    color: var(--background-color);
    cursor: pointer;
    width: fit-content;
    align-items: center;
    font-size: 1rem;
    white-space: nowrap;
    text-align: center;
    display: inline-block;
}

.register-link button:hover {
    transform: translateY(-1px);
    filter: saturate(1.4);
    box-shadow: var(--shadow);
    transition: ease-in-out 0.2s;
}

.register-link button:active {
    filter: saturate(0.5);
    transform: translateY(1px);
}
.registerlink-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
}
