.user-details-container {
    background-color: var(--box-color);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    padding: 2rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    position: relative;
}

.user-details-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
    margin-top: 6rem;
}

.user-details-buttons {
    display: flex;
    gap: 1rem;
}

.view-posts-comments {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.breadcrumbs {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.25rem;
    color: var(--text-color);
    margin-left: 1rem;
    margin-right: 1rem;
}

.breadcrumbs a {
    color: var(--primary-color);
    text-decoration: none;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    margin-top: auto;
    margin-bottom: auto;
    padding: 1rem;
    width: 100%;
    background-color: transparent;
}
.footer p {
    font-weight: bold;
}